.list-card .ant-card-body::before,
.list-card .ant-card-body::after {
  display: none;
}

.list {
  align-self: flex-start;
  width: 100%;
  padding: 12px 50px;
  font-size: 20px;
}

.list:last-child {
  margin-bottom: 1.5em;
}

.list h2 {
  margin-top: 1em;
  color: var(--header);
  letter-spacing: 1.5px;
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .list {
    padding: 12px 15px;
  }
}
