.watchlist-container .ant-card-body::before,
.watchlist-container .ant-card-body::after {
  display: none;
}

.watchlist {
  align-self: flex-start;
  width: 100%;
  padding: 12px 50px;
  font-size: 20px;
}

.watchlist h2 {
  margin-top: 1em;
  color: var(--header);
  letter-spacing: 1.5px;
  font-family: 'Bebas Neue', sans-serif;
}

@media (max-width: 576px) {
  .watchlist {
    padding: 12px 15px;
  }
}
