.poster {
  width: 200px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.015);
}

@media (max-width: 463px) {
  .movie {
    justify-content: center;
  }

  .poster {
    width: 100%;
    margin-bottom: 1.5em;
  }
}
